# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android / Gradle
android/.gradle/
android/app/build/
android/local.properties
android/java_pid*.hprof
*.hprof

# IDE / OS files
.idea/
*.iml
.DS_Store
